# Privy Configuration
# Get your credentials from https://dashboard.privy.io/
VITE_PRIVY_APP_ID=your_privy_app_id_here
VITE_PRIVY_CLIENT_ID=your_privy_client_id_here

# Backend API
VITE_API_BASE_URL=https://stage_api.walletino.fyi
VITE_CANTON_NODE_ID=nodeid
